@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserratRegular.otf');
}

#filters
{
    float:left;
    background:#242424;
    width:300px;
    z-index: -5;
    color:#bfbfbf;
    padding: 20px;
}

.filterTitle
{
    margin: 0px;
    padding: 0px;
    float:left;
}

.checkBox
{
    margin: 5px 0px 0px 0px;
    padding: 0px;
    float:left;
}

#filterContainer
{
    width:200px;
    margin:10px auto;
}

label
{
    font-family: montserrat;
    margin: 5px 0px 5px -2px;
}

.filter
{
    width:100%;
    min-height: 30px;
}

.filterBox
{
    margin: 5px 0px 5px 0px;
    width:100%;
    display: none;
}