

.navBar
{
    width:100%;
    min-width: 1080px;
    padding: 0px;
    margin :0px;
}

#navBarTop
{
    background:#242424;
    height:80px;
}

#navBarBottom
{
    background:#4174b9;
    height:40px;
}

.barContainer
{
    width:1000px;
    margin:0px auto;
    font-family: montserratBold;
    color:#bfbfbf;
    font-size: 20px;
}
#logo
{
    padding-top: 10px
}

.barLink
{
    float:right;
    color:#bfbfbf;
    text-decoration: none;

}

.topLink
{
    font-size:20px;
    padding: 25px 10px 25px 10px;
}

.topLink:hover{
    background: #181818; /* make this whatever you want */
    color:#ffffff;
}
.bottomLink
{
    color: #181818;
    padding: 8px 10px 10px 10px;
    font-size: 16px;
}
.bottomLink:hover{
    background: #254571;
    color:#ffffff;

}

#linkContainer
{
    float:right;
    padding-right: 200px;
    font-family: montserrat;
}