body {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'montserratBold';
  src: url('../fonts/montserratBlack.otf');
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserratRegular.otf');
}


#wrapper
{
    margin:0px auto;
    width:1600px;
    padding: 100px 0px 0px 0px;
    font-family: montserrat;
}



#questions
{
    float:left;
    width:800px;
    margin-top: -15px;
    margin-left: 20px;
}

#questionTab
{
    width: 800px;
    float: left;
    overflow: hidden;
    padding: 15px 0px;
    display: block;
    overflow:hidden;
    border-bottom:1px solid #e0e0e0;
}


#qInfo
{

    margin:0px 20px 0px 0px;
    padding:0px;
    border:0px;
    float:left;
    vertical-align: top;
}
#qTitle
{
    float: left;
    width: 520px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

#qTitle a
{
    text-decoration: none;
    color:#4174b9;
}

#qTitle a:hover
{
    color:#5a9df8;
}

.infoSquare
{
    width:70px;
    height:70px;
    margin:0px;
    padding: 0px;
    text-align:center;
    display: inline-block;
    font-size: 11px;
    vertical-align: top;
}

.bountyGreen
{

    background-color: #246914;
    color: #ffffff;
}

.answersBlue
{

    background:#4174b9;
    color: #ffffff;

}

.topInfo
{
    padding-top: 15px;
    font-size: 20px;
}
.bottomInfo
{

}

.pagination
{
    float:left;
    height:200px;
}
