<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="./static/css/askQuestion.css" />
        <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="navBar">
            <div id="navBarTop" class="navBar">
                <div id="barContainer">
                    <img src="./static/img/logoTitle.png" alt="Logo" height="62" width="300" style="float:left;">
                </div>
            </div>
            <div id="navBarBottom" class="navBar">

            </div>
        </div>

        <div id="wrapper">
                    <h1> Ask a Question </h1>

            <form action="{% url 'QA:ask_question' %}" method="post">
                {% csrf_token %}
                <ul>
                    <input type="text" name="title" id="title" value="Enter question here" />
                    <br>
                    <input type="text" name="detail_text" id="detail_text" value="Enter details here" />
                </ul>
                <input type="submit" value="Ask" />
            </form>
        </div>
    </body>
</html>