<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1> Ask a Question </h1>

    <form action="{% url 'QA:askQuestion' %}" method="post">
        {% csrf_token %}
        <ul>
            <input type="text" name="title" id="title" value="enter question here" />
            <br>
            <input type="text" name="detailText" id="detailText" value="enter details here" />
        </ul>
        <input type="submit" value="Ask" />
    </form>
</body>
</html>