<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'QA:question' question.id %}">{{ question.title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Questions are available.</p>
        {% endif %}

        <a href="{% url 'QA:askQuestion' %}">Ask a Question</a>
    </div>
</body>
</html>