<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
    <meta charset="UTF-8">
    <title>Fix My Shit</title>
</head>
<body>
    <div id="wrapper">
        <h1>Fix My Shit</h1>
        <div>
            {% if latest_question_list %}

                {% for question in latest_question_list %}

                    <div id="questionTab">

                        <div id="qInfo">
                            <div class="bounty">
                                <div>
                                    {{question.bounty|floatformat:2 }}
                                </div>
                                <div>
                                    Bounty
                                </div>
                            </div>
                            <div class="answers">
                                <div>
                                    {{question.answers}}
                                </div>
                                <div>
                                    Answers
                                </div>
                            </div>
                            <div class="views">
                                <div>
                                    {{question.views}}
                                </div>
                                <div>
                                    Views
                                </div>
                            </div>
                        </div>
                        <div id="qTitle">
                            <a href="{% url 'QA:question' question.id %}">{{ question.title}}</a>
                        </div>
                    </div>

                {% endfor %}

            {% else %}
                <p>No Questions are available.</p>
            {% endif %}

        </div>
        <a href="{% url 'QA:ask_question' %}">Ask a Question</a>

    </div>
</body>
</html>