<!DOCTYPE html>
{% extends "QA/index.html" %}
{% load staticfiles %}
<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="../static/css/askQuestion.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/navBar.css" />
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>

        {% block navBar %}
            {{ block.super}}
        {% endblock navBar %}

        {% block content %}

            <div id="wrapper">
                {{ question.title }}<br>
                {{ question.detail_text }}
                {% for answer in question.Answer_set.all %}
                    <div id="answerTab">
                        {{ answer.answer_text }}
                    </div>
                {% endfor %}
            </div>

        {% endblock content %}
    </body>
</html>